NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MP_ACCESS_TOKEN=
MP_TERMINAL_ID=
MP_PRINT_ON_TERMINAL=no_ticket
MP_DEFAULT_INSTALLMENTS=1
MP_INTEGRATOR_ID=
MP_PLATFORM_ID=
MP_SPONSOR_ID=
